<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.von</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/cruise/git/skynet/services/von/run.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/cruise/git/skynet</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/cruise/git/skynet/logs/von_out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/cruise/git/skynet/logs/von_err.log</string>
</dict>
</plist>
